/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** Clearfix ***/
body > section, .talks .angular li,
.talks .meteor li,
.talks .vue li, .schedule > div ul li, .faq > ul, .register form, .register form .tracks {
  *zoom: 1; }
  body > section:after, .talks .angular li:after,
  .talks .meteor li:after,
  .talks .vue li:after, .schedule > div ul li:after, .faq > ul:after, .register form:after, .register form .tracks:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }

/*** End Clearfix ***/
/*** Susy ***/
/*** End Susy ***/
/*** Variables ***/
/*** End Variables ***/
body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5em; }
  body:after {
    content: " ";
    display: block;
    clear: both; }
  body > section > h2 {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0 0;
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif; }

.header {
  background-color: #143C48;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/3c/7e/1d/3c7e1d0612ee63d87fab649a4527827d.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
  position: relative; }
  .header h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 5rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 30%;
    width: 100%;
    font-family: 'Montserrat', sans-serif; }

.about {
  padding: 5em 0;
  background-color: #E6D6BA; }
  .about div {
    width: 50%;
    margin: 0 auto 2rem;
    text-align: center;
    padding: 2rem;
    background-color: #FFFFFF; }
    .about div:last-child {
      margin-bottom: 0; }
    .about div p {
      line-height: 1.5em;
      margin-bottom: 1.5em; }
      .about div p:last-child {
        margin-bottom: 0; }

.talks {
  background-color: #EFB451;
  padding: 5em 0; }
  .talks .angular,
  .talks .meteor,
  .talks .vue {
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    /*
 * ==== Losange
 */ }
    .talks .angular > img:first-child,
    .talks .meteor > img:first-child,
    .talks .vue > img:first-child {
      max-height: 200px;
      display: block;
      margin: 0 auto; }
    .talks .angular > h2,
    .talks .meteor > h2,
    .talks .vue > h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 0 0;
      font-size: 1.5em;
      font-family: 'Montserrat', sans-serif; }
    .talks .angular p,
    .talks .meteor p,
    .talks .vue p {
      height: 3rem;
      overflow: hidden;
      padding: 1rem 1rem 0;
      margin-bottom: 1rem; }
    .talks .angular li:last-child,
    .talks .meteor li:last-child,
    .talks .vue li:last-child {
      border-bottom: 0; }
    .talks .angular li h2,
    .talks .meteor li h2,
    .talks .vue li h2 {
      display: inline-block; }
    .talks .angular li img,
    .talks .meteor li img,
    .talks .vue li img {
      float: left;
      width: 20%; }
    .talks .angular li.main a:first-child,
    .talks .meteor li.main a:first-child,
    .talks .vue li.main a:first-child {
      display: block;
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
      padding: 10px; }
    .talks .angular .losange, .talks .angular .losange div,
    .talks .meteor .losange,
    .talks .meteor .losange div,
    .talks .vue .losange,
    .talks .vue .losange div {
      margin: 0 auto;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 250px;
      height: 250px; }
    .talks .angular .losange,
    .talks .meteor .losange,
    .talks .vue .losange {
      -webkit-transform: rotate(45deg) translateY(10px);
      transform: rotate(45deg) translateY(10px); }
    .talks .angular .losange .los1,
    .talks .meteor .losange .los1,
    .talks .vue .losange .los1 {
      width: 355px;
      height: 355px;
      -webkit-transform: rotate(-45deg) translateY(-74px);
      transform: rotate(-45deg) translateY(-74px); }
    .talks .angular .losange .los1 img,
    .talks .meteor .losange .los1 img,
    .talks .vue .losange .los1 img {
      width: 100%;
      height: auto; }
  .talks .vue {
    float: right; }

.schedule {
  padding: 5em 0;
  background-color: #122430;
  color: #FFFFFF; }
  .schedule > h2 {
    margin-bottom: 2em; }
  .schedule > div {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    padding: 0 5em;
    text-align: center; }
    .schedule > div:last-child {
      float: right; }
    .schedule > div h3 {
      font-family: 'Montserrat', sans-serif;
      color: rgba(246, 71, 71, 0.7); }
      .schedule > div h3 span {
        display: block;
        color: #F64747;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 0.2em; }
    .schedule > div ul {
      margin-top: 3rem; }
    .schedule > div ul li {
      margin-bottom: 1em; }
      .schedule > div ul li div:first-child {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        text-align: right;
        padding-right: 1.5em; }
      .schedule > div ul li div:last-child {
        box-sizing: border-box;
        width: 50%;
        float: right;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        text-align: left; }

.faq {
  background: #1b1933;
  background: linear-gradient(to bottom, #1b1933 0%, #4e4672 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1933', endColorstr='#4e4672',GradientType=0 );
  padding: 5em; }
  .faq h2 {
    color: #FFFFFF;
    margin-bottom: 2em; }
  .faq > ul li {
    width: 50%;
    display: block;
    background-color: #FFFFFF;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #4e4672;
    position: relative;
    margin-bottom: 2rem; }
    .faq > ul li:last-child {
      margin-bottom: 0; }
    .faq > ul li i {
      font-size: 1.5rem;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem; }
    .faq > ul li .q {
      font-weight: bold;
      font-size: 1.3em; }
    .faq > ul li .a {
      display: none;
      margin-top: 1em; }
  .faq > ul li.open .a {
    display: block; }

.location {
  padding: 5em;
  background: #041529;
  background: linear-gradient(to bottom, #041529 0%, #12365f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12365f', endColorstr='#041529',GradientType=0 ); }
  .location > h2 {
    margin-bottom: 2em;
    color: #FFFFFF; }
  .location > div {
    position: relative; }
    .location > div ul {
      position: absolute;
      background-color: #12365f;
      padding: 1em;
      top: 20%;
      color: #FFFFFF;
      left: 8px;
      font-size: 11px; }

.register {
  padding: 5em 0;
  background-color: #1B0625; }
  .register h2 {
    color: #FFFFFF;
    margin-bottom: 2em; }
  .register form {
    background-color: #E6D6BA;
    width: 20%;
    margin: 0 auto;
    padding: 2rem; }
    .register form label, .register form input {
      display: block;
      font-family: 'Roboto', sans-serif; }
    .register form label {
      color: #F86146;
      font-size: 14px;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center; }
    .register form input[type="text"],
    .register form input[type="email"],
    .register form input[type="radio"] {
      width: calc(100% - 2rem);
      border: 0;
      outline: none;
      padding: 10px 15px;
      font-size: 1rem;
      margin-bottom: 2rem; }
    .register form .tracks label {
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%; }
    .register form .tracks span {
      float: left;
      padding: 10px;
      border: 1px solid #F86146; }
    .register form .tracks input[type="radio"] {
      display: none; }
    .register form .tracks input[type="radio"]:checked ~ span {
      color: #FFFFFF;
      background-color: #F86146;
      border: 1px solid #FFFFFF; }
    .register form input[type="submit"] {
      background-color: #F86146;
      display: block;
      border: 0;
      margin: 0 auto;
      cursor: pointer;
      padding: 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 14px;
      letter-spacing: 1px; }

/*# sourceMappingURL=app.css.map */
