// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "reset";
@import "sass/susy";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*** Clearfix ***/
%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}
/*** End Clearfix ***/


/*** Susy ***/
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$shorthand: 12 1/4 fluid float inside;
$total-columns: 10; // 10 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container
/*** End Susy ***/


/*** Variables ***/
$white: #FFFFFF;
/*** End Variables ***/



body {
	font-family: 'Roboto', sans-serif;
	@include container;
	font-size: 16px;
	line-height: 1.5em;

	> section {
		@extend %clearfix;
		> h2 {
			margin-bottom: 1em;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding: 1rem 0 0;
			font-size: 3rem;
			letter-spacing: 1px;
			font-family: 'Montserrat', sans-serif;
		}
	}
}

.header {
	background-color: #143C48;
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/3c/7e/1d/3c7e1d0612ee63d87fab649a4527827d.jpg');
	//background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 100vh;
	position: relative;
	h1 {
		text-align: center;
		color: $white;
		font-size: 5rem;
		text-transform: uppercase;
		position: absolute;
		bottom: 30%;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
	}
}

.about {
	padding: 5em 0;
	background-color: #E6D6BA;
	div {
		width: 50%;
		margin: 0 auto 2rem;
		text-align: center;
		padding: 2rem;
		background-color: $white;
		&:last-child {
			margin-bottom: 0;
		}
		p {
			line-height: 1.5em;
			margin-bottom: 1.5em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.talks {
	//@include span(1 of 1);
	background-color: #EFB451;
	padding: 5em 0;
	.angular,
	.meteor,
	.vue {
		@include span(4 of 12 no-gutters);
		//background-color: #aaa;
		//padding: calc(#{$gutter-width} / 2);
		//padding: $gutter-width;

		> img:first-child {
			max-height: 200px;
			//max-width: 200px;
			display: block;
			margin: 0 auto;
		}

		> h2 {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding: 1rem 0 0;
			font-size: 1.5em;
			font-family: 'Montserrat', sans-serif;
		}

		p {
			height: 3rem;
			overflow: hidden;
			padding: 1rem 1rem 0;
			margin-bottom: 1rem;
		}
		li {
			//background-color: #333;
			//border-bottom: 1px solid #ccc;
			//padding: 10px;
			@extend %clearfix;
			&:last-child {
				border-bottom: 0;
			}
			h2 {
				display: inline-block;
			}
			img {
				float: left;
				width: 20%;
			}
			
		}
		li.main {
			a:first-child {
				display: block;
				text-transform: uppercase;
				color: $white;
				text-decoration: none;
				padding: 10px;
			}	
		}


		/*
 * ==== Losange
 */
.losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}


	}

	.meteor {
		//background-color: #ccc;
	}

	.vue {
		@include last;
	}
}

.schedule {
	padding: 5em 0;
	background-color: #122430;
	color: $white;
	> h2 {
		margin-bottom: 2em;
	}
	> div {
		@include span(6 of 12);
		padding: 0 5em;
		text-align: center;
		&:last-child {
			@include last;
		}
		h3 {
			font-family: 'Montserrat', sans-serif;
			color: rgba(#F64747,0.7);
			span {
				display: block;
				color: #F64747;
				text-transform: uppercase;
				font-size: 2em;
				margin-bottom: 0.2em;
			}
		}
		ul {
			margin-top: 3rem;
		}
		ul li {
			@extend %clearfix;
			margin-bottom: 1em;
			@extend %clearfix;
			div {

			}
			div:first-child {
				@include span(6 of 12);
				//border: 3px solid white;
				//border-radius: 50%;
				//width: 50px;
				//height: 50px;
				text-align: right;
				padding-right: 1.5em;
				
				span {
					//display: block;
				}
			}
			div:last-child {
				@include span(6 last of 12);
				text-align: left;
				
			}
		}
	}
}

.faq {
	background: #1b1933;
	background: -moz-linear-gradient(top,  #1b1933 0%, #4e4672 100%);
	background: -webkit-linear-gradient(top,  #1b1933 0%,#4e4672 100%);
	background: linear-gradient(to bottom,  #1b1933 0%,#4e4672 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1933', endColorstr='#4e4672',GradientType=0 );

	padding: 5em;
	//height: 100vh;

	h2 {
		color: $white;
		margin-bottom: 2em;
	}

	> ul {
		@extend %clearfix;
	}

	> ul li {
		width: 50%;
		display: block;
		background-color: $white;
		padding: 1.5rem 3rem 1.5rem 1.5rem;
		color: #4e4672;
		position: relative;
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}

		i {
			font-size: 1.5rem;
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
		}

		.q {
			font-weight: bold;
			font-size: 1.3em;
		}

		.a {
			//padding-left: 20px;
			display: none;
			margin-top: 1em;
		}
	}

	> ul li.open {
		.a {
			display: block;
		}
	}
}

.location {
	padding: 5em;
	background: #041529;
	background: -moz-linear-gradient(top, #041529 0%,#12365f 100%);
	background: -webkit-linear-gradient(top, #041529 0%,#12365f 100%);
	background: linear-gradient(to bottom, #041529 0%,#12365f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12365f', endColorstr='#041529',GradientType=0 );

	> h2 {
		margin-bottom: 2em;
		color: $white;
	}

	> div {
		position: relative;
		ul {
			position: absolute;
			background-color: #12365f;
			padding: 1em;
			top: 20%;
			color: $white;
			left: 8px;
			font-size: 11px;
		}
	}
	
}

.register {
	padding: 5em 0;
	background-color: #1B0625;
	h2 {
		color: $white;
		margin-bottom: 2em;
	}
	form {
		background-color: #E6D6BA;
		width: 20%;
		margin: 0 auto;
		padding: 2rem;
		@extend %clearfix;

		label, input {
			display: block;
			//width: calc(100% - 2em);
			//text-align: center;
			font-family: 'Roboto', sans-serif;
		}

		label {
			color: #F86146;
			font-size: 14px;
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
		}

		input[type="text"],
		input[type="email"],
		input[type="radio"] {
			//padding: 1em;
			width: calc(100% - 2rem);
			border: 0;
			outline: none;
			padding: 10px 15px;
			font-size: 1rem;
			margin-bottom: 2rem;
		}

		.tracks {
			@extend %clearfix;
		}

		.tracks label {
			@include span(1 of 3 outside);
		}

		.tracks span {
			float: left;
			padding: 10px;
			border: 1px solid #F86146;
		}

		.tracks input[type="radio"] {
			display: none;
		}

		.tracks input[type="radio"]:checked ~ span {
			color: $white;
			background-color: #F86146;
			border: 1px solid $white;
		}

		input[type="submit"] {
			background-color: #F86146;
			display: block;
			border: 0;
			margin: 0 auto;
			cursor: pointer;
			padding: $grid-padding;
			text-transform: uppercase;
			font-weight: bold;
			color: $white;
			font-size: 14px;
			letter-spacing: 1px;
		}
	}
}
